<h1>Listing Products</h1>

<table>
  <% @products.each do |product| %>
  <!-- Rows have alternating colors because of cycle -->
  <tr class= "<%= cycle('list_line_odd', 'list_line_even') %>">
    <td>
      <%= image_tag(product.image_url, class: 'list_image') %>
    </td>
      <td class="list_description">
        <dl>
          <dt><%= product.title %></dt>
          <!-- strip_tags removes html tags and then truncate displays first 80 letters of description. -->
          <dd><%= truncate(strip_tags(product.description)) %></dd>
        </dl>
      </td>
      <td class="list_actions">
        <%= link_to 'Show', product %><br/>
        <%= link_to 'Edit', edit_product_path(product) %><br/>
<!-- Confirm makes pop up message on browser  -->
        <%= link_to 'Destroy', product, method: :delete,
                    data: {confirm: 'Are you sure?'}%>
      </td>
  </tr>
  <% end %>
</table>
<br />

<%= link_to 'New Product', new_product_path %>
